.skillIcon-enter {
    filter: none;
}

.skillIcon-enter-done {
    transition: 2s;
}

/*длина окружности - 377px*/

.html-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.html-enter-done {
    stroke-dasharray: 320 450;
    transition: stroke-dasharray 1700ms linear, stroke-width 300ms;
}

.css-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.css-enter-done {
    stroke-dasharray: 320 450;
    transition: stroke-dasharray 1700ms linear, stroke-width 300ms;
}

.sass-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.sass-enter-done {
    stroke-dasharray: 283 450;
    transition: stroke-dasharray 1500ms linear, stroke-width 300ms;
}

.bootstrap-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.bootstrap-enter-done {
    stroke-dasharray: 207 450;
    transition: stroke-dasharray 1100ms linear, stroke-width 300ms;
}

.js-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.js-enter-done {
    stroke-dasharray: 283 450;
    transition: stroke-dasharray 1500ms linear, stroke-width 300ms;
}

.react-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.react-enter-done {
    stroke-dasharray: 283 450;
    transition: stroke-dasharray 1500ms linear, stroke-width 300ms;
}

.redux-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.redux-enter-done {
    stroke-dasharray: 283 450;
    transition: stroke-dasharray 1500ms linear, stroke-width 300ms;
}

.git-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.git-enter-done {
    stroke-dasharray: 283 450;
    transition: stroke-dasharray 1500ms linear, stroke-width 300ms;
}

.gulp-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.gulp-enter-done {
    stroke-dasharray: 207 450;
    transition: stroke-dasharray 1100ms linear, stroke-width 300ms;
}

.python-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.python-enter-done {
    stroke-dasharray: 283 450;
    transition: stroke-dasharray 1500ms linear, stroke-width 300ms;
}

.postgresql-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.postgresql-enter-done {
    stroke-dasharray: 207 450;
    transition: stroke-dasharray 1100ms linear, stroke-width 300ms;
}

.django-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.django-enter-done {
    stroke-dasharray: 207 450;
    transition: stroke-dasharray 1100ms linear, stroke-width 300ms;
}

.php-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.php-enter-done {
    stroke-dasharray: 207 450;
    transition: stroke-dasharray 1100ms linear, stroke-width 300ms;
}

.mysql-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.mysql-enter-done {
    stroke-dasharray: 207 450;
    transition: stroke-dasharray 1100ms linear, stroke-width 300ms;
}
