.skillIcon-enter {
    filter: none;
}

.skillIcon-enter-done {
    transition: 2s;
}

/*длина окружности - 377px*/

.html-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.html-enter-done {
    stroke-dasharray: 325 450;
    transition: 1724ms linear;
}

.css-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.css-enter-done {
    stroke-dasharray: 302 450;
    transition: 1600ms linear;
}

img.html-icon, img.css-icon {
    transform: translate(-50%, -44%);
}

.js-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.js-enter-done {
    stroke-dasharray: 285 450;
    transition: 1512ms linear;
}

.react-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.react-enter-done {
    stroke-dasharray: 285 450;
    transition: 1512ms linear;
}

.redux-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.redux-enter-done {
    stroke-dasharray: 285 450;
    transition: 1512ms linear;
}

img.redux-icon {
    transform: translate(-50%, -54%);
}

.git-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.git-enter-done {
    stroke-dasharray: 285 450;
    transition: 1512ms linear;
}

.python-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.python-enter-done {
    stroke-dasharray: 285 450;
    transition: 1512ms linear;
}

.postgresql-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.postgresql-enter-done {
    stroke-dasharray: 285 450;
    transition: 1512ms linear;
}

.php-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.php-enter-done {
    stroke-dasharray: 225 450;
    transition: 1192ms linear;
}

.mysql-enter {
    stroke-dasharray: 0 450;
    stroke-width: 1px;
}

.mysql-enter-done {
    stroke-dasharray: 225 450;
    transition: 1192ms linear;
}
