.container {
    display: flex;
    padding: 15px 30px;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

.icon {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.img {
    height: 80px;
    width: 80px;
    background: hsla(196, 46%, 60%, 0.5);
    padding: 10px;
    box-shadow: -2px 2px 5px 0px #777;
}

.description {
    max-width: 550px;
    color: #f2f2f2;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 36px;
    color: #2f304b;
    font-weight: 200;
}

.scale {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin: 10px 0;
}

.scaleItem {
    list-style: none;
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba(241, 228, 85, 0.5);
}

.scaleItem.active {
    background-color: #f1e455;
}

.text {
    font-weight: 200;
    line-height: 30px;
}
