.container {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 5px;
    justify-content: flex-end;
    transition: 500ms;
    overflow: hidden;
    align-items: flex-end;
    cursor: pointer;
}
.container:hover {
    background: rgba(255, 255, 255, 0.3);
}

.link {
    display: block;
    width: 24%;
}

.yearNum {
    font-size: 56px;
    display: flex;
    align-items: flex-start;
    line-height: 30px;
    color: #b8b8f4;
}

.selected .container {
    background: rgba(255, 255, 255, 0.3);
}