.container {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 50px 140px 100px 45px 180px;
    grid-template-areas:
        'a s'
        'a n'
        'a m'
        'a mail'
        'a c';
    position: relative;
}

.avatar {
    grid-area: a;
    display: flex;
    align-items: center;
}

.nameWrap {
    grid-area: n;
    color: #2f304b;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.name {
    font-size: 82px;
    font-weight: 700;
    letter-spacing: -4px;
    text-align: center;
    transition: 2s;
    border-bottom: 1px solid #2f304b;
    overflow: hidden;
    animation: nameShowing 3s cubic-bezier(0.1,0.25,0.1,1) 0s 1 normal both;
}

@keyframes nameShowing{
  0%  { line-height: 300px; width: 30px; }
  60%  { line-height: 300px; width: 590px; }
  100% { line-height: 90px; width: 590px; }
}

@keyframes infoShowing {
    0% {opacity: 0}
    100% {opacity: 1}
}

.specialty {
    grid-area: s;
    font-size: 30px;
    color: #2f304b;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
    animation: infoShowing 2s cubic-bezier(0.1,0.25,0.1,1) 2s 1 normal both;
}

.mainSkillsWrap {
    grid-area: m;
    font-size: 42px;
    color: #2f304b;
    font-weight: 200;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainSkills {
    display: flex;
    width: 520px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.email {
    grid-area: mail;
    font-size: 30px;
    color: #2f304b;
    font-weight: 200;
    display: flex;
    justify-content: center;
    animation: infoShowing 2s cubic-bezier(0.1,0.25,0.1,1) 2s 1 normal both;
}

.contacts {
    grid-area: c;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.contactsWrap {
    width: 350px;
    height: 160px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 40px;
    margin-top: 70px;
}
