.container {
    display: grid;
    grid-template-columns: 420px;
    grid-column-gap: 90px;
    grid-template-rows: 60px 130px 140px 45px 200px;
    grid-template-areas:
        'a s'
        'a n'
        'a m'
        'a mail'
        'a c';
    position: relative;
}

.avatar {
    grid-area: a;
    display: flex;
    align-items: center;
}

@keyframes infoShowing {
    0% {opacity: 0}
    100% {opacity: 1}
}

.specialtyWrap {
    grid-area: s;
    font-size: 30px;
    color: #2f304b;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 15px;
    animation: infoShowing 2s cubic-bezier(0.1,0.25,0.1,1) 2s 1 normal both;
}

.internal {
    width: 590px;
    display: flex;
    justify-content: center;
    font-weight: 200;
}

.nameWrap {
    grid-area: n;
    color: #2f304b;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
}

.name {
    font-size: 82px;
    font-weight: 700;
    letter-spacing: -4px;
    text-align: center;
    overflow: hidden;
}

.mainSkillsWrap {
    grid-area: m;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    border-top: 1px solid #2f304b;
    animation: mainSkillsWrap 1.5s cubic-bezier(0.1,0.25,0.1,1) 0s 1 normal both;
}

@keyframes mainSkillsWrap {
  0%  { transform: scaleX(0.25) }
  100% { transform: none }
}

.mainSkills {
    width: calc(100% - 60px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    animation: mainSkills 1.5s cubic-bezier(0.1,0.25,0.1,1) 1.5s 1 normal both;
}

@keyframes mainSkills {
  0%  { transform: translateY(-100px) }
  100% { transform: none }
}

.emailWrap {
    grid-area: mail;
    font-size: 30px;
    color: #2f304b;
    display: flex;
    justify-content: flex-end;
    animation: infoShowing 2s cubic-bezier(0.1,0.25,0.1,1) 2s 1 normal both;
}

.contactsWrap {
    grid-area: c;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.contacts {
    width: 350px;
    height: 160px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 40px;
    margin-top: 70px;
}
