.container {
    /*background-color: #c9dcec;*/
    position: relative;
}

.icon {
    width: 160px;
    height: 160px;
}

.svg {
    height: 100%;
    width: 100%;
    transform: rotateY(180deg) rotateZ(-90deg);
}

.circle {
    stroke: #6f718c;
    fill-opacity: 0;
}

.img {
    position: absolute;
    left: 80px;
    top: 80px;
    height: 80px;
    width: 80px;
    transform: translate(-50%, -50%);
}
