.container {
    display: flex;
    height: 100%;
}

.sideInfo {
    width: 320px;
}

.mainInfo {
    flex-grow: 1;
    padding: 150px 110px 30px 170px;
    overflow: auto;
}

.mainInfo::-webkit-scrollbar {
    width: 0px;
}

.mainInfo:hover::-webkit-scrollbar {
    width: 14px;
}

.mainInfo::-webkit-scrollbar-thumb {
    border-right: 3px solid #6f718c;
}
