.container {
    position: relative;
    grid-area: a;
    z-index: 3;
}

.avatar {

}

.border {
    position: absolute;
    border: 3px solid #90a1ff;
    height: 492px;
    width: 400px;
    top: 20px;
    left: 45px;
}
