.container {
    position: relative;
    grid-area: a;
}

.avatar {

}

.border {
    position: absolute;
    border: 3px solid #90a1ff;
    height: 492px;
    width: 415px;
    top: 20px;
    left: 40px;
}
