.container {
    display: flex;
    height: 100%;
}

.sideInfo {
    width: 320px;
    /*background-color: rgba(55, 97, 255, 0.2);*/
}

.skillsInfo {
    flex-grow: 1;
    padding: 50px 25px 25px 25px;
    overflow: auto;
}

.skillsInfo::-webkit-scrollbar {
    width: 0px;
}

.skillsInfo:hover::-webkit-scrollbar {
    width: 14px;
}

.skillsInfo::-webkit-scrollbar-thumb {
    border-right: 3px solid #6f718c;
}

.findWrap {
    display: flex;
    justify-content: flex-end;
    width: 800px;
}

.find {
    width: fit-content;
    position: relative;
    margin-bottom: 10px;
}

.findInput {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 270px;
    background: rgba(71, 108, 255, 0.1);
}
.findInput:focus {
    background: #f0f0ff;
}

.img {
    position: absolute;
    width: 25px;
    right: 9px;
    bottom: 6px;}

.skills {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: left;
    color: #434e79;
    max-width: 480px;
    border-bottom: 1px solid #434e79;
    margin: 15px 0 25px 35px;
}
