.container {
    display: grid;
    height: 100%;
    grid-template-areas:
        'n'
        'a'
        'c';
    grid-template-rows: 140px 300px;
}

.nameWrap {
    grid-area: n;
    color: #2f304b;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.name {
    letter-spacing: -2px;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: #2f304b;
    word-spacing: 10px;
    cursor: pointer;
}
.link {
    text-decoration: none;
}

.avatar {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar .border {
    display: none;
}

.contacts {
    grid-area: c;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px 0 0 90px;
}
