.container {
}
.html {
    width: 60px;
    height: 60px;
    margin: 5px;
}
.css {
    width: 60px;
    height: 60px;
    margin: 5px;
}
.js {
    width: 70px;
    height: 70px;
}
.react {
    width: 70px;
    height: 70px;
}
.redux {
    width: 60px;
    height: 60px;
    margin: 5px;
}