.header {
    grid-area: h;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.nav {
    display: flex;
    width: 220px;
    justify-content: space-between;
}

.item {
    text-decoration: none;
    color: #000;
}

.item:visited {
    color: #000;
}

.item:hover {
    color: #555;
}

.active {
    background-color: #a6d0f8;
}
