.header {
    height: 58px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    border-radius: 60px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes showNav{
  0%  { transform: rotateZ(90deg); width: 5px; }
  20%  { transform: rotateZ(0deg); width: 10px; }
  100%  { transform: rotateZ(0deg); width: 480px; }
}

.nav {
    display: flex;
    width: 5px;
    justify-content: space-between;
    border-left: 4px solid #8586ad;
    border-right: 4px solid #8586ad;
    padding: 0 10px;
    overflow: hidden;
    height: 32px;
    transition: 1.5s;
    transform: rotateZ(90deg);
    background: hsla(240, 80%, 86%, 0.7);
}

.nav:hover {
    animation: showNav 0.7s ease-out 0s 1 alternate both;
}

.nav:after {
    content: '';
    display: block;
    background-color: #f1e455;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 30px;
    transform: translate(-2px, -50%);
}

.nav:hover:after {
    top: -20px;
}

.item {
    text-decoration: none;
    margin: 0 15px;
    white-space: nowrap;
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    word-spacing: 6px;
    letter-spacing: -1px;
    font-size: 20px;
    font-weight: 300;
    color: #2f304b;
}

.item:not(.active):after {
    content: '';
    display: block;
    background-color: #f1e455;
    height: 2px;
    width: 100%;
    transition: 300ms;
    transform: scale(0);
    transform-origin: center center;
}

.item:visited {
    color: #2f304b;
}

.item:not(.active):hover:after {
    transform: none;
}

.active {
    background: #f1e455;
    padding: 0 8px;
    border-radius: 5px;
}

.active:hover {
    color: #2f304b;
}
