.navbar {
    grid-area: n;
    background-color: #97bee2;
}

.item {
    text-decoration: none;
    color: #000;
    display: block;
}

.item:visited {
    color: #000;
}

.item:hover {
    color: #555;
}

.active {
    background-color: #a6d0f8;
}

.navbar {
    padding: 10px;
}
