.container {
    display: flex;
    height: 100%;
}

.sideInfo {
    width: 320px;
}

.mainInfo {
    flex-grow: 1;
    padding: 180px 25px 0 110px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.expItemsWrap {
    flex-grow: 1;
    height: calc(100% - 50px);
    overflow: auto;
}

.expItemsWrap::-webkit-scrollbar {
    width: 0;
}

.expItemsWrap:hover::-webkit-scrollbar {
    width: 14px;
}

.expItemsWrap::-webkit-scrollbar-thumb {
    border-right: 3px solid #6f718c;
}

.expItems {
    height: fit-content;
    padding-bottom: 130px;
}
