.container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    max-width: 730px;
    color: #f2f2f2;
}

.title {
    color: #2f304b;
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
    margin-bottom: 20px;
    word-spacing: 6px;
}

.subtitle {
    display: flex;
    align-items: center;
}

.period {
    color: #2f304b;
    background: #f1e455;
    padding: 0 9px 2px;
    border-radius: 11px;
    font-size: 16px;
}

.skills {
    display: flex;
}

.skills img {
    margin-right: 10px;
}

.description {
    margin-top: 10px;
}

.description p {
    margin: 10px 0;
    font-weight: 200;
}
