.container {
    position: relative;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
}

.backTitle {
    font-size: 210px;
    position: absolute;
    bottom: 0;
    right: -3px;
    font-weight: 700;
    letter-spacing: -25px;
    color: hsla(197, 46%, 31%, 0.15);
    z-index: -1;
    line-height: 185px;
    overflow: hidden;
    height: 160px;
    padding-right: 25px;
}
