.container {
    position: relative;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
}

.backTitle {
    font-size: 210px;
    position: absolute;
    bottom: -60px;
    right: -3px;
    font-weight: 700;
    letter-spacing: -25px;
    color: #3755cc;
    z-index: -1;
}
