* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(0deg, #6cafc8, #bfbff8 90%);
    overflow: hidden;
}
