@media (max-width: 1200px) {
    .app_container {
        max-width: 900px;
    }
    .profile_container {
        grid-template-areas:
        'a s'
        'a n'
        'a m'
        'a mail'
        'c c';
        grid-column-gap: 60px;
        grid-template-columns: 250px;
        grid-template-rows: 80px 120px 150px 45px 130px;
    }
    .avatar_border {
        left: 25px;
    }
    .profile_internal {
        width: 490px;
    }
    .profile_name {
        font-size: 70px;
    }
    .profile_contactsWrap {
        align-items: flex-end;
    }
    .profile_contacts {
        width: 100%;
        height: 40px;
        flex-direction: row;
        padding-left: 0;
        margin-top: 0;
        justify-content: space-around;
    }
}

@media (max-width: 900px) and (orientation: portrait) {
    .app_container {
        max-width: 700px;
    }
    .header {
        top: 20px;
    }
    .profile_container {
        grid-template-areas:
            'a a'
            's s'
            'n n'
            'm m'
            'mail mail'
            'c c';
        grid-template-rows: 320px 80px 110px 120px 85px 100px;
    }
    .profile_avatar {
        justify-content: center;
    }
    .avatar_container img {
        width: auto;
        height: 320px;
    }
    .profile_specialtyWrap {
        padding-bottom: 0;
    }
    .profile_internal {
        width: 100%;
    }
    .profile_nameWrap {
        padding-bottom: 10px;
    }
    .profile_name {
        font-size: 73px;
        letter-spacing: -2px;
    }
    .profile_mainSkillsWrap {
        padding-top: 20px;
    }
    .profile_contacts {
        padding-left: 30px;
        width: 450px;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .app_container {
        max-width: 360px;
    }
    .header {
        top: 15px;
        height: 40px;
    }
    .header_nav:hover {
        animation: showNavSmall 0.7s ease-out 0s 1 alternate both;
    }
    @keyframes showNavSmall {
        0%  { transform: rotateZ(90deg); width: 5px; }
        20%  { transform: rotateZ(0deg); width: 10px; }
        100%  { transform: rotateZ(0deg); width: 320px; }
    }
    .header_item {
        font-size: 14px;
        margin: 0 10px;
    }
    .app_backTitle {
        font-size: 160px;
        letter-spacing: -21px;
        bottom: -17px;
        right: -7px;
    }
    .app_content {
        margin: 0 20px;
    }
    .profile_container {
        padding-top: 40px;
        height: 90%;
        grid-template-rows: 50% 10% 55px 65px 30px;
        grid-column-gap: 0;
    }
    .avatar_container {
        height: 100%;
        width: fit-content;
    }
    .avatar_container img {
        height: 100%;
    }
    .avatar_border {
        left: 10px;
        top: 10px;
        width: 104%;
        border-width: 4px;
        height: 102%;
    }
    .profile_internal {
        font-size: 16px;
    }
    .profile_nameWrap {
        padding-bottom: 5px;
    }
    .profile_name {
        font-size: 36px;
    }
    .profile_mainSkillsWrap {
        padding-top: 10px;
    }
    .profile_mainSkills {
        width: 100%;
    }
    .mainSkill_html {
        width: 35px;
        height: 35px;
    }
    .mainSkill_css {
        width: 35px;
        height: 35px;
    }
    .mainSkill_sass {
        width: 35px;
        height: 35px;
    }
    .mainSkill_js {
        width: 45px;
        height: 45px;
    }
    .mainSkill_react {
        width: 45px;
        height: 45px;
    }
    .mainSkill_redux {
        width: 35px;
        height: 35px;
    }
    .profile_contacts {
        padding-left: 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .contactItem_container {
        margin: 0;
    }
    .contactItem_title {
        display: none;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .app_container {
        max-width: 660px;
    }
    .header {
        height: 40px;
        top: 5px;
    }
    .app_backTitle {
        font-size: 180px;
        bottom: -12px;
    }
    .app_content {
        margin: 0 30px;
    }
    .profile_container {
        grid-template-areas:
            'a s'
            'a n'
            'a m'
            'a mail'
            'a c';
        grid-column-gap: 30px;
        grid-template-columns: 35%;
        grid-template-rows: 15% 25% 25% 15%;
        height: 90%;
        padding-top: 30px;
    }
    .avatar_container img {
        max-width: 200px;
    }
    .avatar_border {
        display: block;
        left: 15px;
        top: 10px;
        border-width: 4px;
    }
    .profile_specialtyWrap {
        padding-bottom: 0;
    }
    .profile_internal {
        font-size: 20px;
        width: 100%;
    }
    .profile_nameWrap {
        padding-bottom: 7px;
    }
    .profile_name {
        font-size: 38px;
        letter-spacing: -1px;
        word-spacing: 10px;
    }
    .profile_mainSkillsWrap {
        padding-top: 10px;
    }
    .profile_mainSkills {
        height: 100%;
        width: 100%;
    }
    .mainSkill_html {
        width: 40px;
        height: 40px;
    }
    .mainSkill_css {
        width: 40px;
        height: 40px;
    }
    .mainSkill_sass {
        width: 40px;
        height: 40px;
    }
    .mainSkill_js {
        width: 50px;
        height: 50px;
    }
    .mainSkill_react {
        width: 50px;
        height: 50px;
    }
    .mainSkill_redux {
        width: 40px;
        height: 40px;
    }
    .profile_contactsWrap {
        align-items: center;
    }
    .contactItem_title {
        display: none;
    }
}