@media (max-width: 1200px) {

    /*main page*/
    .app_container {
        max-width: 900px;
    }
    .profile_container {
        grid-template-areas:
        'a s'
        'a n'
        'a m'
        'a mail'
        'c c';
        grid-column-gap: 60px;
        grid-template-columns: 250px;
        grid-template-rows: 80px 120px 150px 45px 130px;
    }
    .avatar_border {
        left: 25px;
    }
    .profile_internal {
        width: 490px;
    }
    .profile_name {
        font-size: 70px;
    }
    .profile_contactsWrap {
        align-items: flex-end;
    }
    .profile_contacts {
        width: 100%;
        height: 40px;
        flex-direction: row;
        padding-left: 0;
        margin-top: 0;
        justify-content: space-around;
    }

    /*skills page*/
    .skills_sideInfo {
        width: 240px;
    }
    .sideInfo_container {
        padding: 0;
        grid-template-rows: 135px 290px;
    }
    .sideInfo_container .avatar_container {
        width: 200px;
        height: 200px;
    }
    .sideInfo_name {
        font-size: 35px;
    }
    .sideInfo_contacts {
        padding: 20px 0 0 70px;
    }
    .skills_mainInfo {
        padding: 150px 0 0 50px;
    }
    .skills_findWrap {
        width: 560px;
    }
    .skills_title {
        max-width: 320px;
        margin-left: 0;
    }
    .skillItem_container {
        padding: 15px 0;
        max-width: 500px;
    }
    .skillItem_icon {
        width: 80px;
    }
    .skillItem_description {
        max-width: 380px;
    }
}

@media (max-width: 900px) and (orientation: portrait) {
    .app_container {
        max-width: 700px;
    }
    .app_content {
        margin: 0 20px;
    }
    .header {
        top: 20px;
    }

    /*main page*/
    .profile_container {
        grid-template-areas:
            'a a'
            's s'
            'n n'
            'm m'
            'mail mail'
            'c c';
        grid-template-rows: 320px 80px 110px 120px 85px 100px;
    }
    .profile_avatar {
        justify-content: center;
    }
    .avatar_container img {
        width: auto;
        height: 320px;
    }
    .profile_specialtyWrap {
        padding-bottom: 0;
    }
    .profile_internal {
        width: 100%;
    }
    .profile_nameWrap {
        padding-bottom: 10px;
    }
    .profile_name {
        font-size: 73px;
        letter-spacing: -2px;
    }
    .profile_mainSkillsWrap {
        padding-top: 20px;
    }
    .profile_contacts {
        padding-left: 30px;
        width: 450px;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }

    /*skills page*/
    .skills_sideInfo {
        width: 30%;
    }
    .sideInfo_container {
        grid-template-rows: 155px 290px;
    }
    .sideInfo_name {
        line-height: 35px;
    }
    .sideInfo_container .avatar_container img {
        height: auto;
    }
    .sideInfo_contacts {
        padding: 20px 0 0 45px;
    }
    .skills {
        max-width: 395px;
    }
    .skills_findWrap {
        width: 100%;
    }
    .skills_title {
        max-width: 240px;
    }
    .skillItem_container {
        position: relative;
    }
    .skillItem_icon {
        position: absolute;
    }
    .skillItem_img {
        width: 55px;
        height: 55px;
    }
    .skillItem_description {
        padding: 0;
    }
    .skillItem_title {
        margin-left: 80px;
    }
    .skillItem_scale {
        margin-left: 80px;
    }
    .skillItem_text {
        margin-top: 10px;
    }
    .skills_btnToTop {
        right: auto;
        left: 90px;
        bottom: 100px;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .app_container {
        max-width: 360px;
    }
    .header {
        top: 15px;
        height: 40px;
    }
    .header_nav:hover {
        animation: showNavSmall 0.7s ease-out 0s 1 alternate both;
    }
    @keyframes showNavSmall {
        0%  { transform: rotateZ(90deg); width: 5px; }
        20%  { transform: rotateZ(0deg); width: 10px; }
        100%  { transform: rotateZ(0deg); width: 320px; }
    }
    .header_item {
        font-size: 14px;
        margin: 0 10px;
    }
    .app_backTitle {
        font-size: 160px;
        letter-spacing: -21px;
        right: -7px;
        line-height: 220px;
    }
    .app_content {
        margin: 0 20px;
    }

    /*main page*/
    .profile_container {
        padding-top: 40px;
        height: 90%;
        grid-template-rows: 50% 10% 55px 65px 30px;
        grid-column-gap: 0;
    }
    .avatar_container {
        height: 100%;
        width: fit-content;
    }
    .avatar_container img {
        height: 100%;
    }
    .avatar_border {
        left: 10px;
        top: 10px;
        width: 104%;
        border-width: 4px;
        height: 102%;
    }
    .profile_internal {
        font-size: 16px;
    }
    .profile_nameWrap {
        padding-bottom: 5px;
    }
    .profile_name {
        font-size: 36px;
    }
    .profile_mainSkillsWrap {
        padding-top: 10px;
    }
    .profile_mainSkills {
        width: 100%;
    }
    .mainSkill_html {
        width: 35px;
        height: 35px;
    }
    .mainSkill_css {
        width: 35px;
        height: 35px;
    }
    .mainSkill_sass {
        width: 35px;
        height: 35px;
    }
    .mainSkill_js {
        width: 45px;
        height: 45px;
    }
    .mainSkill_react {
        width: 45px;
        height: 45px;
    }
    .mainSkill_redux {
        width: 35px;
        height: 35px;
    }
    .profile_contacts {
        padding-left: 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .contactItem_container {
        margin: 0;
    }
    .contactItem_container img {
        width: 30px;
        height: 30px;
    }
    .contactItem_title {
        display: none;
    }

    /*skills page*/
    .skills_container {
        flex-direction: column;
    }
    .skills_sideInfo {
        width: 100%;
    }
    .sideInfo_container {
        grid-template-areas:
            'a n'
            'c c';
        grid-template-rows: 100px 60px;
        padding-top: 60px;
    }
    .sideInfo_nameWrap {
        align-items: center;
    }
    .sideInfo_name {
        font-size: 30px;
    }
    .sideInfo_container .avatar_container {
        width: 100px;
        height: 100px;
        border-width: 5px;
    }
    .sideInfo_contacts {
        justify-content: space-between;
        padding: 0;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
    .skills_mainInfo {
        padding: 55px 0 0 0;
    }
    .skills_findWrap {
        top: 0;
    }
    .skills {
        padding: 0;
    }
    .skills_title {
        margin: 0;
    }
    .skills_btnToTop {
        left: auto;
        right: 10px;
        bottom: 120px;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .app_container {
        max-width: 660px;
    }
    .header {
        height: 40px;
        top: 5px;
    }
    .header_nav:hover {
        animation: showNavSmall 0.7s ease-out 0s 1 alternate both;
    }
    @keyframes showNavSmall {
        0%  { transform: rotateZ(90deg); width: 5px; }
        20%  { transform: rotateZ(0deg); width: 10px; }
        100%  { transform: rotateZ(0deg); width: 400px; }
    }
    .header_item {
        font-size: 16px;
        margin: 0 10px;
    }
    .app_backTitle {
        font-size: 180px;
        line-height: 205px;
    }
    .app_content {
        margin: 0 30px;
    }

    /*main page*/
    .profile_container {
        grid-template-areas:
            'a s'
            'a n'
            'a m'
            'a mail'
            'a c';
        grid-column-gap: 30px;
        grid-template-columns: 35%;
        grid-template-rows: 15% 25% 25% 15%;
        height: 90%;
        padding-top: 30px;
    }
    .avatar_container img {
        max-width: 200px;
    }
    .avatar_border {
        left: 15px;
        top: 10px;
        border-width: 4px;
    }
    .profile_specialtyWrap {
        padding-bottom: 0;
    }
    .profile_internal {
        font-size: 20px;
        width: 100%;
    }
    .profile_nameWrap {
        padding-bottom: 7px;
    }
    .profile_name {
        font-size: 38px;
        letter-spacing: -1px;
        word-spacing: 10px;
    }
    .profile_mainSkillsWrap {
        padding-top: 10px;
    }
    .profile_mainSkills {
        height: 100%;
        width: 100%;
    }
    .mainSkill_html {
        width: 40px;
        height: 40px;
    }
    .mainSkill_css {
        width: 40px;
        height: 40px;
    }
    .mainSkill_sass {
        width: 40px;
        height: 40px;
    }
    .mainSkill_js {
        width: 50px;
        height: 50px;
    }
    .mainSkill_react {
        width: 50px;
        height: 50px;
    }
    .mainSkill_redux {
        width: 40px;
        height: 40px;
    }
    .profile_contactsWrap {
        align-items: center;
    }
    .contactItem_title {
        display: none;
    }

    /*skills page*/
    .skills_container {
        flex-direction: column;
    }
    .skills_sideInfo {
        width: 100%;
    }
    .sideInfo_container {
        grid-template-areas: 'a n c';
        height: auto;
        grid-template-rows: 70px;
        grid-template-columns: 100px;
        padding-top: 35px;
    }
    .sideInfo_nameWrap {
        align-items: center;
    }
    .sideInfo_name {
        font-size: 32px;
    }
    .sideInfo_container .avatar_container {
        width: 80px;
        height: 80px;
        border-width: 5px;
    }
    .sideInfo_contacts {
        padding: 0;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
    .contactItem_container {
        margin: 0 5px;
    }
    .contactItem_container img {
        width: 25px;
        height: 25px;
    }
    .skills_mainInfo {
        padding: 50px 0 0 0;
    }
    .skills_findWrap {
        top: 0;
    }
    .Skills_skillsWrap__Q-ysQ {
        padding: 0 5px;
    }
    .skills {
        padding: 0;
        max-width: 555px;
    }
    .skills_title {
        margin: 0;
    }
    .skillItem_container {
        position: relative;
        max-width: 100%;
        padding: 10px 0;
    }
    .skillItem_icon {
        padding-top: 0;
        width: 60px;
        position: absolute;
    }
    .skillItem_img {
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    .skillItem_description {
        flex-direction: row;
        padding-left: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 100%;
    }
    .skillItem_title {
        margin-left: 60px;
        line-height: 40px;
    }
    .skillItem_scale {
        margin: 0 0 0 20px;
        align-items: center;
    }
    .skillItem_text {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 5px;
    }
    .skills_btnToTop {
        bottom: 130px;
    }
}

@media (max-width: 600px) and (orientation: landscape) {
    .app_backTitle {
        font-size: 150px;
        letter-spacing: -18px;
    }
    .sideInfo_container {
        grid-template-columns: 100px 190px;
        grid-template-rows: 60px;
    }
    .sideInfo_name {
        font-size: 26px;
        line-height: 28px;
    }
    .skills_findWrap {
        width: 508px;
    }
    .skills_findInput {
        font-size: 14px;
        padding: 8px 40px 8px 10px;
    }
    .skills_findWrap .skills_img {
        bottom: 4px;
    }
    .skills_btnToTop {
        bottom: 90px;
        right: 20px;
    }
}